.nav-bar{
    display: flex;
    border-bottom: 3px solid rgb(37, 88, 82);
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
}
.logo h3{
    color: rgb(52, 102, 95);
}
.logo img{
    margin-left: 20px;
}

.nav-contents{
    margin-left: auto;
    display: flex;
   align-items: center;
}
